.site-footer {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.social-icons a {
    display: inline-flex;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icons img {
    width: 20px;
    height: 20px;
    filter: invert(1); /* makes icons white */
}

/* hover effect */
.social-icons a:hover {
    /*transform: scale(1.15);*/
    opacity: 0.8;
}
